<div id="weather-placeholder">
  <p class="message">Loading weather...</p>
</div>

<% content_for :javascript do %>
  $(function() {
    $(document).bind("swipe", function(e) {
      $(".radar").fadeToggle();
    });

    wb.utilities.getCurrentLocation({
      success: function() {
        new wb.Controllers.Weather();
        Backbone.history.start();
      },
      failure: function() {
        wb.loadTempData = true;
        this.success();
      }
    });
  });
<% end %>
