<div id="weather-placeholder">
  <p class="message">
    Loading weather...
  </p>
</div>

<% content_for :javascript do %>
  $(function() {
    $(document).bind("swipe", function(e) {
      $(".radar").fadeToggle();
    });

    wb.current.weather = new wb.Models.Weather({});

    wb.utilities.getCurrentLocation({
      success: function() {
        new wb.Controllers.Weather();
        Backbone.history.start();
        wb.getWeather(wb.current.latitude, wb.current.longitude);
      },
      failure: function() {
        wb.loadTempData = true;
        this.success();
      }
    });
  });
<% end %>
