// Place all the styles related to the weather controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "_blueprint";

html { @include blueprint; }

.radar {
  display: none;
  position: absolute;
  z-index: 2;
  margin: auto;
  background: rgba(0,0,0,0.85);

  width: 100%;
  height: 100%;
  vertical-align: middle;

  img {
    width: 90%;
    margin: 20% 5%;
    display: block;
    vertical-align: middle;
  }
}

@media screen and (max-device-width: 640px) {
  body {
    margin: 0;
    padding: 0;

    &[data-orient=portrait] {
      .current-temp { font-size: 11em; }
    }

    &[data-orient=landscape] {
      .current-temp { font-size: 6em; }
    }

    * { color: #222!important; }

    #weather-placeholder {
      text-align: center;
      p.message { padding: 1em; text-transform: uppercase; font-weight: bold; }
    }

    header {
      h1 { margin: 0; font-weight: bold; }
      padding: 1em 0;
      font-size: 0.75em;
      font-weight: bold;
      text-align: center;
    }

    .main-wrapper {
      display: -webkit-box;
      display: -moz-box;
      display: box;

      -webkit-box-orient: vertical;
      -moz-box-orient: vertical;
      box-orient: vertical;
      height: 460px;

      .box-wrapper.main, .box-wrapper.stats {
        -webkit-box-flex: 1;
        -moz-box-flex: 1;
        box-flex: 1;
      }

      .box-wrapper.main {
        padding: .75em 0;
      }

      .box-wrapper.forecast {
        padding-bottom: 1.5em;
      }

      section.primary {
        display: -webkit-box;
        -webkit-box-orient: horizontal;
        -webkit-box-align: center;

        .current-temp {
          line-height: 1em;
          margin: 0;
          padding: 0;
          -webkit-box-flex: 1;
          text-align: center;
        }

        .daily {
          -webkit-box-orient: vertical;
          .daily-high, .daily-low, .condition {
            -webkit-flex-box: 1;
            padding: 0 .5em;
            margin: 0;
          }
          .daily-high, .daily-low {
            font-size: 2em;
          }
          .condition { font-size: 1.2em; }
        }
      }

      ul {
        font-size: 1.2em;
        margin: 0 auto 1em;
        padding: 1em 0;

        li {
          list-style-type: none;
          float: left;
          text-align: center;
          width: 50%;
          strong:after { content: ": "; }
        }
      }
    }

    table.forecast {
      margin: 0 auto;

      tr, th, td  { margin: 0; padding: 0; }
      thead th    { background: transparent; }
      .high, .low { display: block; text-align: center; margin-left: .3em; }
      .high       { font-weight: bold; font-size: 1.7em; }
      .low        { font-size: .9em; }
    }
  }
}
